//put your variables in here

//colors
$canada-red: #DC0404;






//fonts
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans+Condensed:300');
$lato:	'Lato', sans-serif;
$bree:  'Bree Serif', serif;
$open:  'Open Sans Condensed', sans-serif;