@import 'style_variables'; //theme variables
@import 'assets/bootstrap'; //bootstrap css
@import 'assets/font-awesome'; //fancy fonts

// start your custom css below:
body {
	.bg-faded {
		background: $canada-red;
	}
	.navbar {
		border-bottom:1px solid darken($canada-red,10%);

		.navbar-brand {
			img {
				max-height:30px;
			}
		}
	}
}