@import 'style_variables'; //theme variables
@import 'assets/bootstrap'; //bootstrap css
@import 'assets/font-awesome'; //fancy fonts

// start your custom css below:
body {
	.bg-faded {
		background: $canada-red;
	}
	.navbar {
		border-bottom:1px solid darken($canada-red,10%);

		.navbar-brand {
			img {
				max-height:30px;
			}
		}
	}
	.navbar-light {
		.navbar-nav {
			.nav-link {
				color:white;
			}
		}
	}
	.jumbotron {
		font-family: $lato;
	}
	footer {
		background: darken($canada-red,5%);
		padding:3vh 0 5vh;
		margin-top:3vh;

		iframe {
			margin-bottom:10px;
		}
	}
}